* {
    margin: 0;
    padding: 0;
    box-sizing: border-box;
}

body {

    min-height: 100vh;

    display: flex;

    justify-content: center;
    align-items: center;

    font-family: Arial, sans-serif;

    background:
        radial-gradient(
            circle at center,
            #12386d,
            #071a3d 50%,
            #020817
        );

    color: white;
}

.login-box {

    width: 90%;
    max-width: 400px;

    padding: 40px;

    text-align: center;

    border-radius: 20px;

    background:
        rgba(5, 15, 45, 0.9);

    border:
        1px solid #38bdf8;

    box-shadow:
        0 0 35px #2563eb;
}

.login-box h1 {

    margin-bottom: 10px;

    color: #67e8f9;
}

.login-box p {

    margin-bottom: 25px;

    color: #cbd5e1;
}

.login-box input {

    width: 100%;

    padding: 14px;

    margin-bottom: 15px;

    border: 1px solid #334155;

    border-radius: 10px;

    outline: none;

    background: #111c35;

    color: white;
}

.login-box input:focus {

    border-color: #22d3ee;

    box-shadow:
        0 0 12px
        rgba(34, 211, 238, 0.4);
}

.login-box button {

    width: 100%;

    padding: 14px;

    border: none;

    border-radius: 10px;

    background:
        linear-gradient(
            90deg,
            #06b6d4,
            #2563eb,
            #a855f7
        );

    color: white;

    font-size: 16px;

    font-weight: bold;

    cursor: pointer;
}

.error-message {

    color: #ff6b6b !important;

    min-height: 20px;

    margin-bottom: 10px !important;
}